body {
  background-color: none;
}

.navbar {
  background-color: rgb(209, 221, 226);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
  padding: 4px;
  width: 100%;
}

.navbar-brand {
  padding: 3px;
  padding-left: 10px;
}

.navbar-brand img {
  background-size: cover;
  height: 52px;
  width: 60px;
}

.navbar-nav a.nav-link {
  color: #75a6db;
  font-size: 19px;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  padding: 5px;
}

.navbar-nav .nav-item:hover .nav-link {
  color: #5b93cb;
}

.navbar-toggler-icon {
  background-color: none;
  border: none;
  font-size: 18px;
}

.navbar-toggler {
  border-color: #007bff;
  border: none;
}

.navbar-toggler:hover {
  background-color: #9fadb4;
  border: none;
}
a.dropdown-item {
  font-size: 16px;
  padding: 5px;
  padding-left: 20px;
  width: 100%;
  margin: 0px;
}

a.dropdown-item:hover {
  background-color: #88a1bd;
  font-size: 17px;
}
div#navbarNav.collapse {
  margin: 10px 15px 10px 10px;
  position: absolute;
  margin-left: 90px;
}
div.dropdown-menu.show {
  margin-top: 15px;
  padding: 3x;
  border-radius: 2px;
  box-shadow: 2px 5px 15px rgb(95, 98, 99);
}

a#servicesDropdown,
a#contactDropdown {
  color: rgb(62, 60, 60);
}

@media (max-width: 992px) {
  .navbar-brand img {
    height: 52px; /* Adjust height for smaller screens */
    width: 60px; /* Allow width to adjust based on height */
  }

  div.dropdown-menu.show {
    margin-top: 0px;
    padding: 0px 3px;
    border-radius: 2px;
    border: none;
    box-shadow: none;
  }

  div#navbarNav.collapsing {
    margin: 10px 5px 10px 5px;
    z-index: 2;
  }
  div#navbarNav.collapse.show {
    margin: 10px 5px 10px 5px;
    z-index: 2;
  }
  div#navbarNav.collapse {
    margin-left: 10px;
    position: static;
  }
}
/* .img-div {
        position: absolute;
      } */
